<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style></style>
  </head>
  <body>
    <h1>게시물 전체 불러오기, 게시물 작성 (상단 조그맣게) -> 모달 창</h1>

    <!-- 게시물작성페이지로 이동 버튼 -->
    <button onclick="location.href='/room/board/register'">게시물작성</button>
  </body>

  <script>
    const resultBox = document.querySelector('.result')
    async function boardRegister() {
      const form = document.forms['postForm']
      const data = {
        pContent: form.content.value,
        ROOM_rNo: form.roomNo.value,
      }
      console.log(data)
      const res = await axios({
        method: 'POST',
        url: '/room/board/register',
      })
      const resData = res.data.result
      if (res.result) {
        alert('')
      } else {
        console.log('err')
      }
    }

    const btn = document.querySelector('.register')

    function register() {
      // ... 작업 로직 ...  //

      window.location.href = '/room/board/register'
    }
  </script>
</html>
