<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GreenMuscat</title>
    <link rel="shortcut icon" href="/img/icon.ico" type="image/x-icon" />
    <link rel="icon" href="/img/icon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>

  <body>
    <%- include('mainHeader') %>
    <div id="start">
      <p id="title">Welcome to GreenMuscat Farm</p>
    </div>
    <div class="main">
      <div class="left">
        <img src="/img/leaf.png" alt="잎" /><span>환경을 나타내는 그린</span>
      </div>
      <div class="center">➕</div>
      <div class="right">
        <img src="/img/grape.png" alt="포도" /><span>칭찬스티커의 포도</span>
        <!-- <img src="/img/main.svg" alt="people" /> -->
      </div>
    </div>
    <div class="title">
      환경을 생각하는 행동을 칭찬하기 위해 그린머스캣이 만들어졌어요
    </div>
    <div class="content">
      ↓ 친구들과 함께 환경 농부가 되어 그린머스캣 농장을 가꾸어 수확하여 보세요
      ↓
    </div>

    <div class="loginDiv">
      <div class="innerform">
        <button type="button" id="btn">그린머스캣 수확하러 가기</button>

        <!-- -------------------------------------------------------------- -->
        <!-- 로그인 정보 얻기 위한 폼 -->
        <form method="post" action="/main" name="postMain" hidden>
          <input type="text" name="email" />
        </form>
        <!-- -------------------------------------------------------------- -->
      </div>
    </div>
  </body>
  <script>
    window.addEventListener('load', checkLoginStatus())
    // 맨 처음에 뜨는 화면
    // const startDiv = document.querySelector('#start')
    // window.addEventListener('load', () => {
    //   if (startDiv.getAttribute('class', 'remove')) {
    //     startDiv.removeAttribute('class', 'remove')
    //   } else {
    //     startDiv.setAttribute('class', 'remove')
    //   }
    // })
    // 로그인 식별
    function checkLoginStatus() {
      const token = localStorage.getItem('token')
      const btn = document.querySelector('#btn')

      if (token) {
        btn.onclick = () => {
          const form = document.forms['postMain']
          form.email.value = JSON.parse(localStorage.getItem('user')).email
          form.submit()
        }
      } else {
        // 토큰 또는 닉네임이 로컬 스토리지에 없는 경우
        // 로그인 상태가 아니라고 판별하고 "Guest" 닉네임 사용
        btn.onclick = () => {
          window.location.href = '/main/signin'
        }
      }
    }
  </script>
</html>
