<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main</title>
  </head>

  <body>
    <div style="display: flex; width: 100vw; height: 100vh">
      <div
        style="
          width: 30vw;
          height: 60vh;
          background-color: aquamarine;
          margin-top: 10%;
          margin-left: 10%;
        "
      >
        프로필 공간
      </div>
      <div
        style="
          width: 5vw;
          height: 5vh;
          background-color: aquamarine;
          margin-top: 10%;
          margin-left: 10%;
        "
      >
        방 생성하기
      </div>
      <div
        style="
          width: 5vw;
          height: 5vh;
          background-color: aquamarine;
          margin-top: 10%;
          margin-left: 10%;
        "
      >
        방 참가하기
      </div>
    </div>
  </body>
</html>
