<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Document</title>
  <style>
    @font-face {
      font-family: 'HSSaemaul-Regular';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'EarlyFontDiary';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'HakgyoansimWoojuR';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
    }

    * {
      font-family: 'HakgyoansimWoojuR';
    }

    .header {
      display: flex;
      justify-content: space-between;
      margin-top: 60px;
      border-bottom: 1px solid #c4c4c4;
    }

    .innderHeader {
      margin: 10px;
    }

    .innderHeaderLogo {
      margin: 10px;
      width: 50px;
      height: 50px;
    }

    .innderHeaderLogin {
      margin: 10px;
      align-items: center;
      display: flex;
    }
  </style>
</head>

<body>
  <div class="header">
    <div>
      <img src="/home.png" class="innderHeaderLogo" onclick="mainPage()" />
    </div>

    <div class="innderHeaderLogin" onclick="loginPage()">login or logout</div>
  </div>
</body>
<script>
  const room = JSON.parse(localStorage.getItem('room'))

  //로그인 이동
  function loginPage() {
    window.location.href = '/main/signin'
  }

  //회원가입 이동
  async function boardPage() { }

  //메인페이지 이동
  function mainPage() {
    window.location.href = '/'
  }
</script>

</html>