<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>공지사항 제목들만 나오고, 누르면 세부 페이지로 이동</h1>
</body>

</html>