<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profileEdit.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>

<body>
    <%- include('roomHeader') %>
        <div class="main">
            <h2>회원 정보 수정</h2>
            <div class="content">
                <form name="edit_form">
                    <label for="nick">닉네임</label><br>
                    <input type="text" id="nickname"><br>
                    <label for="password">비밀번호</label><br>
                    <input type="password" id="password"><br>
                    <button type="button" onclick="edit_profile()">수정하기</button>
                </form>
            </div>
        </div>

</body>

<script>
    (async function () {
        console.log("token", localStorage.getItem('token'))
        const profile = await axios({
            method: 'POST',
            url: '/main/profile',
            headers: {
                Authorization: `Bearer ${localStorage.getItem('token')}`,
            },
        })
        console.log("profile", profile)
    })

    const nick = localStorage.getItem('nickname')
    const nickname = document.querySelector('.nickname')
    nickname.innerText = nick

    // 회원 정보 수정
    async function edit_profile() {
        const form = document.forms['edit_form']

        const data = {
            nickname: form.nickname.value,
            password: form.password.value
        }

        const response = await axios({
            method: 'PATCH',
            url: '/main/profile/edit',
            data,
            headers: {
                Authorization: `Bearer ${localStorage.getItem('token')}`,
            },
        })

        resData = response.data
        if (resData.result) {
            localStorage.setItem('nickname', resData.nickname)
            alert('수정 완료!')
            document.location.reload()
        } else console.log('수정 실패')
    }
</script>

</html>