<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>

<body>
    <h1>프로필 정보 조회, 수정 (모달), 탈퇴 버튼 생성</h1>
    <div class="profile image">
    </div>
    <div class="profile nickname">
    </div>
    <!-- 모달 창 → 닉네임, 비밀번호 수정 창 & 탈퇴 버튼 -->
    <!-- 원래 id: edit -->
    <button type="button" id="edit-modal" onclick="openModal()">내 계정</button>

    <div id="modal" class="modal-overlay" hidden>
        <div class="modal-window">
            <div class="title">
                <h2>회원 정보 수정</h2>
            </div>
            <div class="close-area" onclick="closeModal()">닫기</div>
            <div class="content">
                <form name="edit_form">
                    <!-- 이미지 변경..  -->
                    <input type="file" id="profileImage"><br>
                    <label for="nick">닉네임</label><input type="text" id="nickname"><br>
                    <label for="password">비밀번호</label><input type="password" id="password"><br>
                    <button type="button" onclick="edit_profile()">수정</button>
                    <hr>
                    <button type="button" onclick="delete_profile()">회원 탈퇴</button>
                </form>
            </div>
        </div>
    </div>


    <script>
        function openModal() {
            document.getElementById('modal').hidden = false
        }

        function closeModal() {
            document.getElementById('modal').hidden = true
        }
        (async function () {
            console.log("token", localStorage.getItem('token'))
            const profile = await axios({
                method: 'POST',
                url: '/main/profile',
                headers: {
                    Authorization: `Bearer ${localStorage.getItem('token')}`,
                },
            })
            console.log("profile", profile)
        })

        const nick = localStorage.getItem('nickname');
        const nickname = document.querySelector('.nickname')
        nickname.innerText = nick

        // 회원 정보 수정
        async function edit_profile() {
            const form = document.forms['edit_form']

            const data = {
                // 이미지..
                profileImage: form.profileImage,
                nickname: form.nickname.value,
                password: form.password.value
            }

            const response = await axios({
                method: 'PATCH',
                url: '/main/profile/edit',
                data,
                headers: {
                    Authorization: `Bearer ${localStorage.getItem('token')}`,
                },
            })

            resData = response.data
            if (resData.result) {
                localStorage.setItem('nickname', resData.nickname);
                alert('수정 완료!')
                document.location.reload()
            }
            else console.log('수정 실패')
        }

        // 회원 탈퇴
        async function delete_profile() {
            if (!confirm('탈퇴하시겠습니까?')) {
                return;
            }
            const response = await axios({
                method: 'DELETE',
                url: '/main/profile/destroy',
                headers: {
                    Authorization: `Bearer ${localStorage.getItem('token')}`,
                },
            })

            resData = response.data
            if (resData.result) {
                alert('회원 탈퇴가 완료되었습니다 :)');
                document.location.href = '/';
            } else console.log('회원 탈퇴 실패')
        }
    </script>
</body>

</html>