<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/profile.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>

  <body>
    <%- include('roomHeader') %>
    <div class="main">
      <div class="register">
        <div class="title">Profile</div>
        <!-- 이미지 -->
        <div class="profile image">
          <!-- <img src="" alt="" id="profileImg"> -->
          <div id="profileImg"></div>
          <div id="pencil" onclick="changeImg()">
            <img src="/img/noun-pencil.svg" alt="프로필 이미지 변경" />
          </div>
        </div>
        <div class="content">
          <!-- 닉네임 -->
          <div class="nickname"></div>
          <div id="btn_edit" onclick="location.href='/main/profile/edit'">
            프로필 수정하기
          </div>
        </div>

        <!-- 배지 등등.. -->

        <!-- 탈퇴 버튼 -->
      </div>
      <div>
        <button type="button" id="btn_delete" onclick="delete_profile()">
          회원 탈퇴하기
        </button>
      </div>
    </div>
    <script>
      // 유저 정보 가져오기 (닉네임, 프로필 이미지 등)
      // const img = localStorage.getItem('user')
      // const profileImg = document.querySelector('.image')
      // profileImg.innerText = img

      // const nick = localStorage.getItem('nickname')
      // const nickname = document.querySelector('.nickname')
      // nickname.innerText = nick

      const user = JSON.parse(localStorage.getItem('user'))
      const nickname = document.querySelector('.nickname')
      nickname.innerText = `닉네임 : ${user.nickname}`
      // 프로필 이미지 변경
      async function changeImg() {
        const data = { mImg }

        const response = await axios({
          method: 'PATCH',
          url: '/main/profile/edit',
          data,
          headers: {
            Authorization: `Bearer ${localStorage.getItem('token')}`,
          },
        })

        resData = response.data
        if (resData.result) {
          alert('수정 완료!')
          document.location.reload()
        } else console.log('수정 실패')
      }

      // 회원 탈퇴
      async function delete_profile() {
        if (!confirm('탈퇴하시겠습니까?')) {
          return
        }
        const response = await axios({
          method: 'DELETE',
          url: '/main/profile/destroy',
          headers: {
            Authorization: `Bearer ${localStorage.getItem('token')}`,
          },
        })

        resData = response.data
        if (resData.result) {
          alert('회원 탈퇴가 완료되었습니다 :)')
          document.location.href = '/'
        } else console.log('회원 탈퇴 실패')
      }
    </script>
  </body>

  <!-- 
@copyright

Pencil by Meko from <a href="https://thenounproject.com/browse/icons/term/pencil/" target="_blank" title="Pencil Icons">Noun Project</a> (CC BY 3.0)

--></html>
