<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/profile.css" />
  <link rel="shortcut icon" href="/img/icon.ico" type="image/x-icon" />
  <link rel="icon" href="/img/icon.ico" type="image/x-icon" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>GreenMuscat</title>
</head>

<body>
  <%- include('roomHeader') %>
    <div class="main">
      <div class="register">
        <div class="title">Profile</div>
        <!-- 이미지 -->
        <div class="profile image">
          <div id="profileImg"><img src="" alt="" id="myProfile" /></div>
          <div id="pencil" onclick="changeImg()">
            <img src="/img/pencil.svg" alt="프로필 이미지 변경" />
          </div>
        </div>
        <div class="content">
          <!-- 닉네임 -->
          <div class="nickname"></div>
          <div class="modal" id="editModal">
            <div class="modal_body">
              <h2 class="modalH2">회원 정보 수정하기</h2>
              <form name="edit_form" class="editForm">
                <div class="input">
                  <b>닉네임</b>
                  <br />
                  <input type="text" id="nickname" />
                  <button type="button" class="btn_edit_nick" onclick="edit_profile(1)">
                    수정
                  </button>
                </div>
                <br />
                <div class="input">
                  <b>비밀번호</b>
                  <br />
                  <input type="password" id="password" />
                  <button type="button" class="btn_edit_pass" onclick="edit_profile(2)">
                    수정
                  </button>
                </div>
              </form>
              <button type="button" class="button btnPush btnBlueGreen" onclick="btnCloseModal(editModal.id)">
                닫기
              </button>
            </div>
          </div>
        </div>
        <div id="btn_edit" onclick="btnOpenModal(editModal.id)">
          프로필 수정하기
        </div>
        <!-- 배지 등등.. -->
      </div>

      <div>
        <button type="button" id="btn_delete" onclick="delete_profile()">
          회원 탈퇴하기
        </button>
      </div>
    </div>
    <script>
      // 모달창 열기
      function btnOpenModal(id) {
        document.getElementById(id).style.display = 'flex'
      }

      // 모달창 닫기
      function btnCloseModal(id) {
        document.getElementById(id).style.display = 'none'
      }

      const user = JSON.parse(localStorage.getItem('user'))
      const nickname = document.querySelector('.nickname')
      nickname.innerText = `닉네임 : ${user.nickname}`

      //접속중인 사용자 프로필 가져오기
      const mlmg = user.mlmg
      const myProfile = document.querySelector('#myProfile')
      if (mlmg) {
        myProfile.src = mlmg
      } else {
        // mlmg 값이 없을 때, 기본 이미지 경로를 설정합니다.
        myProfile.src = '/img/user1.png'
      }
      // 프로필 이미지 변경
      async function changeImg() {
        const data = { mImg }

        const response = await axios({
          method: 'PATCH',
          url: '/main/profile/edit',
          data,
          headers: {
            Authorization: `Bearer ${localStorage.getItem('token')}`,
          },
        })

        const resData = response.data
        if (resData.result) {
          alert('수정 완료!')
          document.location.reload()
        } else console.log('수정 실패')
      }

      // 회원 정보 수정
      async function edit_profile(index) {
        const form = document.forms['edit_form']

        if (index == 1) {
          const data = {
            password: form.password.value,
          }

          const response = await axios({
            method: 'PATCH',
            url: '/main/profile/edit',
            data,
            headers: {
              Authorization: `Bearer ${localStorage.getItem('token')}`,
            },
          })

          const resData = response.data
          if (resData.result) {
            localStorage.setItem('nickname', resData.nickname)
            alert('수정 완료!')
            console.log('닉네임 수정 완료')
            document.location.reload()
          } else console.log('닉네임 수정 실패')
        } else if (index == 2) {
          const data = {
            password: form.password.value,
          }

          const response = await axios({
            method: 'PATCH',
            url: '/main/profile/edit',
            data,
            headers: {
              Authorization: `Bearer ${localStorage.getItem('token')}`,
            },
          })

          const resData = response.data
          if (resData.result) {
            localStorage.setItem('password', resData.password)
            alert('수정 완료!')
            console.log('비밀번호 수정 완료')
            document.location.reload()
          } else console.log('비밀번호 수정 실패')
        }
      }

      // 회원 탈퇴
      async function delete_profile() {
        if (!confirm('탈퇴하시겠습니까?')) {
          return
        }
        const response = await axios({
          method: 'DELETE',
          url: '/main/profile/destroy',
          headers: {
            Authorization: `Bearer ${localStorage.getItem('token')}`,
          },
        })

        const resData = response.data
        if (resData.result) {
          alert('회원 탈퇴가 완료되었습니다 :)')
          document.location.href = '/'
        } else console.log('회원 탈퇴 실패')
      }
    </script>
</body>

<!-- 
@copyright

Pencil by Meko from <a href="https://thenounproject.com/browse/icons/term/pencil/" target="_blank" title="Pencil Icons">Noun Project</a> (CC BY 3.0)

-->

</html>