<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="shortcut icon" href="/img/icon.ico" type="image/x-icon" />
    <link rel="icon" href="/img/icon.ico" type="image/x-icon" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/signin.css" />
    <title>GreenMuscat</title>
  </head>

  <body>
    <%- include('roomHeader') %>
    <div class="main">
      <div class="register">
        <div class="title">Profile</div>
        <!-- 이미지 -->
        <div class="profile image">
          <div id="profileImg"><img src="" alt="" id="myProfile" /></div>
        </div>
        <br />
        <p id="nick"></p>
      </div>
      <div class="loginDiv">
        <div class="innerform" style="justify-content: center; width: 50%">
          <label for="email">프로필 사진</label>
          <input type="file" id="profileImgFile" />
          <label for="nickname">닉네임</label>
          <input type="text" id="nickname" />
          <label for="password">비밀번호</label>
          <input type="password" id="password" />
          <div>
            <button type="button" id="btn" onclick="editProfile()">
              수정하기
            </button>
            <button type="button" id="btn" onclick="deleteProfile()">
              탈퇴하기
            </button>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.querySelector(
        '#nick'
      ).innerHTML = `<b>${user.name}님 환영합니다!</b>`
      if (user.mImg) {
        myProfile.src = user.mImg
      } else {
        myProfile.src = '/img/user1.png'
      }

      const passwordRegex =
        /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@#$%^&+=!])[A-Za-z\d@#$%^&+=!]{8,}$/

      // 프로필 이미지 변경
      async function editProfile() {
        if (password.value && !passwordRegex.test(password.value)) {
          alert(
            '비밀번호는 최소 8자 이상이어야 하며, 영어, 숫자, 특수문자를 포함해야 합니다.'
          )
          return false
        }

        const file = document.querySelector('#profileImgFile')

        const data = new FormData()
        data.append('file', file.files[0])
        data.append('nickname', document.querySelector('#nickname').value)
        data.append('password', document.querySelector('#password').value)

        const respone = await axios({
          method: 'PATCH',
          url: '/room/profile/edit',
          data,
          headers: {
            Authorization: `Bearer ${localStorage.getItem('token')}`,
            'Content-Type': 'multipart/form-data',
          },
        })
        const resData = respone.data
        console.log('resData:', resData)

        if (resData.result) {
          alert(resData.message)
          localStorage.setItem('user', JSON.stringify(resData.updatedUser))
          location.reload()
        } else {
          alert(resData.message)
        }
      }

      // 닉네임, 비밀번호 수정
      async function submitForm(type) {
        try {
          const response = await axios.patch('/room/profile/edit', data, {
            headers: {
              Authorization: `Bearer ${localStorage.getItem('token')}`,
              'Content-Type': 'application/json',
            },
          })

          const resData = response.data
          if (resData.result) {
            localStorage.setItem('user', JSON.stringify(resData.user))
            document.location.reload()
            alert('수정이 완료되었습니다.')
          } else {
            console.error('수정 실패:', resData.message)
          }
        } catch (error) {
          console.error('오류:', error)
        }
      }

      // 회원 탈퇴
      async function deleteProfile() {
        if (!confirm('탈퇴하시겠습니까?')) {
          return
        }
        const response = await axios({
          method: 'DELETE',
          url: '/room/profile/destroy',
          headers: {
            Authorization: `Bearer ${localStorage.getItem('token')}`,
          },
        })

        const resData = response.data
        if (resData.result) {
          localStorage.removeItem('token')
          localStorage.removeItem('user')
          localStorage.removeItem('room')
          localStorage.removeItem('nickname')
          alert('회원 탈퇴가 완료되었습니다 :)')
          document.location.href = '/'
        } else console.log('회원 탈퇴 실패')
      }
    </script>
  </body>

  <!-- 
@copyright

Pencil by Meko from <a href="https://thenounproject.com/browse/icons/term/pencil/" target="_blank" title="Pencil Icons">Noun Project</a> (CC BY 3.0)

--></html>
