<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style></style>
  </head>
  <body>
    <h1>게시물 작성</h1>

    <form name="postForm">
      <input type="text" id="pContent" />
      <input type="text" id="MEMBER_email" />
      <input type="text" id="ROOM_rNo" />
      <input type="file" id="files" multiple /><br /><br />
      <button type="button" onclick="boardRegister()">게시</button>
    </form>
    <div class="result"></div>
  </body>

  <script>
    const resultBox = document.querySelector('.result')
    async function boardRegister() {
      const form = document.forms['postForm']
      const files = document.querySelector('#files')

      const data = new FormData()
      data.append('pContent', form.content.value)
      data.append('MEMBER_email', form.MEMBER_email.value)
      data.append('ROOM_rNo', form.roomNo.value)
      for (var i = 0; i < files.files.length; i++) {
        data.append('files', files.files[i])
      }
      console.log(data)

      const respone = await axios({
        method: 'POST',
        data,
        url: '/room/board/register',
      })
      resData = respone.data
      console.log(resData)

      if (resData.result) {
        alert('가져와짐')
      } else {
        console.log('err')
      }
    }
  </script>
</html>
