<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/roomHeader.css">
  <title>Document</title>

</head>

<body>
  <div class="header">
    <div onclick="mainPage()">GreenMuscat</div>
    <div onclick="roomPage()">
      <img src="/img/home.png" class="innderHeaderLogo" onclick="mainPage()" />
    </div>
    <div onclick="boardPage()">
      <img src="/img/board.png" class="innderHeaderLogo" onclick="mainPage()" />
    </div>
    <div onclick="profilePage()">
      <img src="/img/profile.png" class="innderHeaderLogo" onclick="mainPage()" />
    </div>
    <div class="innderHeaderLogin" onclick="loginPage()">login or logout</div>
  </div>
</body>
<script>
  //메인페이지 이동
  function mainPage() {
    window.location.href = '/'
  }
  //room 메인페이지로 이동
  function roomPage() {
    window.location.href = '/room'
  }
  //게시글 목록으로 이동
  function boardPage() {
    window.location.href = '/room/board'
  }
  //마이페이지 목록으로 이동
  function profilePage() {
    window.location.href = '/main/profile'
  }
  //로그아웃
  async function logout() {

  }
</script>

</html>