<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="shortcut icon" href="/img/icon.ico" type="image/x-icon">
  <link rel="icon" href="/img/icon.ico" type="image/x-icon">
  <title>GreenMuscat</title>
  <link rel="stylesheet" href="/css/room.css" />
</head>

<body>
  <%- include('roomHeader') %>
    <div class="main">
      <div style="height: 300px">
        <h1>커다란 포도 들어갈 위치</h1>
      </div>
      <div class="notice">
        <div class="innerNotice">
          <div class="noticeImg">
            <img src="/img/notice.png" alt="" onclick="toggleSections()" id="noticeImg" />
          </div>

          <div id="replyText" class="replyText" style="display: none">
            <form name="noticeForm">
              <div class="noticeDiv">
                <div class="noticeInputDiv">
                  <textarea id="notice" class="noticeInput" placeholder="공지사항을 작셍해주세요"></textarea>
                </div>
                <button type="button" onclick="noticeRegister()" class="registerBtn">
                  게시
                </button>
              </div>
            </form>
          </div>
        </div>
        <hr />
      </div>
      <p class="noticeContent"></p>
    </div>
</body>

<<<<<<< HEAD
<script>
  const room = JSON.parse(localStorage.getItem('room'))
  console.log('room:', room)
  const noticeContent = document.querySelector('.noticeContent')
  noticeContent.innerText = room.notice
=======
  <script>
    console.log('room:', room)
    const noticeContent = document.querySelector('.noticeContent')
    noticeContent.innerText = room.notice
>>>>>>> 985cbf9dedeea8878ca800b7b63ad60e408d422b

  // toggle
  function toggleSections() {
    if (replyText.style.display === 'none') {
      replyText.style.display = 'block'
    } else {
      replyText.style.display = 'none'
    }
  }

  //textarea 자동 높이 조절
  const $textarea = document.querySelector('#notice')
  $textarea.oninput = (event) => {
    const $target = event.target
    $target.style.height = 0
    $target.style.height = 5 + $target.scrollHeight + 'px'
  }

  // 공지사항 등록하기
  async function noticeRegister() {
    const form = document.forms['noticeForm']
    const data = {
      rNo: room.rNo,
      notice: form.notice.value,
    }

    const respone = await axios({
      method: 'PATCH',
      url: '/room/notice',
      data,
    })
    const resData = respone.data
    console.log('resData:', resData)

    if (resData.result) {
      console.log('새로운 공지사항 등록 성공')
      localStorage.setItem('room', JSON.stringify(resData.findedRoom))
      console.log('resData.findedRoom.notice:', resData.findedRoom.notice)
      location.reload()
    } else {
      console.log('err')
    }
  }
</script>

</html>