<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>

  <body>
    <h1>프로필, 로그아웃, 공지사항 불러오기 (한 줄만), 더보기 누르기</h1>
    <button onclick="logout()">로그아웃</button><br />
    <button onclick="boardPage()"">게시글 목폭 페이지로 이동하기</button>
    <h1>---------공지사항---------</h1>
    <form name="noticeForm">
      <label for="notice">공지사항내용</label>
      <input type="text" id="notice" /><br />
      <button type="button" onclick="noticeRegister()">게시</button>
    </form>
    <h3>
      새로운 공지사항 :
      <div id="noticeResult"></div>
    </h3>
  </body>

  <script>
    const room = JSON.parse(localStorage.getItem('room'))
    const noticeResult = document.getElementById('noticeResult')
    noticeResult.innerText = room.notice

    function logout() {}
    // 공지사항 등록하기
    async function noticeRegister() {
      const form = document.forms['noticeForm']
      const data = {
        rNo: room.rNo,
        notice: form.notice.value,
      }

      const respone = await axios({
        method: 'PATCH',
        url: '/room/notice',
        data,
      })
      const resData = respone.data
      console.log('resData:', resData)

      if (resData.result) {
        console.log('새로운 공지사항 등록 성공')
        localStorage.setItem('room', JSON.stringify(resData.findedRoom))
        noticeResult.innerText = room.notice
        location.reload()
      } else {
        console.log('err')
      }
    }
  </script>
</html>
