<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
    <style>
      @font-face {
        font-family: 'HSSaemaul-Regular';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff')
          format('woff');
        font-weight: normal;
        font-style: normal;
      }
      @font-face {
        font-family: 'EarlyFontDiary';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2')
          format('woff2');
        font-weight: normal;
        font-style: normal;
      }
      @font-face {
        font-family: 'HakgyoansimWoojuR';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2')
          format('woff2');
        font-weight: normal;
        font-style: normal;
      }
      * {
        font-family: 'HakgyoansimWoojuR';
      }
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
        border-bottom: 1px solid #c4c4c4;
      }
      .innderHeader {
        margin: 10px;
      }
      .innderHeaderLogo {
        margin: 10px;
        width: 50px;
        height: 50px;
      }
      .innderHeaderLogin {
        margin: 10px;
        align-items: center;
        display: flex;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <div>GreenMuscat</div>
      <div onclick="roomPage()">
        <img src="/home.png" class="innderHeaderLogo" />
      </div>
      <div onclick="boardPage()">
        <img src="/board.png" class="innderHeaderLogo" />
      </div>
      <div onclick="profilePage()">
        <img src="/profile.png" class="innderHeaderLogo" />
      </div>
      <div class="innderHeaderLogin" onclick="loginPage()">login or logout</div>
    </div>

    <form action="/room/board" method="post" name="postBoardForm" hidden>
      <input type="text" name="rNo" />
    </form>
  </body>
  <script>
    const boardForm = document.forms['postBoardForm'] // 게시글 호출을 위한 히든 폼

    //메인페이지 이동
    function mainPage() {
      window.location.href = '/'
    }
    //room 메인페이지로 이동
    function roomPage() {
      window.location.href = '/room'
    }
    //게시글 목록으로 이동
    async function boardPage() {
      boardForm.rNo.value = room.rNo
      boardForm.submit()
    }
    //마이페이지 목록으로 이동
    function profilePage() {
      window.location.href = '/main/profile'
    }
    //로그아웃
    function logout() {}
  </script>
</html>
