<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>방 생성</title>
  </head>
  <body>
    <h1>방 생성하기</h1>
    <form name="roomAdd">
      <label for="roomName">방 이름: </label>
      <input type="text" id="roomName" name="roomName" /><br />
      <label for="roomCode">입장 코드: </label>
      <input type="text" id="roomCode" name="roomCode" /><br />
      <button type="button" onclick="registerFunc()">생성</button>
    </form>

    <script>
      async function registerFunc() {
        const form = document.forms['roomAdd']
        try {
          const res = await axios({
            method: 'POST',
            url: '/roomadd',
            data: {
              rtitle: form.roomName.value,
              code: form.roomCode.value,
            },
          })
          if (res.data.result) {
            alert('방이 생성되었습니다.')
            document.location.href = '/select'
          }
        } catch (err) {
          console.log(err)
        }
      }
    </script>
  </body>
</html>
