<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>

  <body>
    <h1>프로필, 로그아웃, 공지사항 불러오기 (한 줄만), 더보기 누르기</h1>
    <button onclick="logout()">로그아웃</button><br />
    <button onclick="boardPage()"">게시글 목폭 페이지로 이동하기</button>
    <h1>---------공지사항---------</h1>
    <form name="noticeForm">
      <label for="rNo">방넘버(임시)</label>
      <input type="text" id="rNo" /><br />
      <label for="notice">공지사항내용</label>
      <input type="text" id="notice" /><br />
      <button type="button" onclick="noticeRegister()">게시</button>
    </form>
    <h3>새로운 공지사항 : <%= data %></h3>
  </body>

  <script>
    function logout() {}
    function boardPage() {
      window.location.href = '/room/board'
    }
    // 공지사항 등록하기
    async function noticeRegister() {
      const form = document.forms['noticeForm']
      const data = {
        rNo: form.rNo.value,
        notice: form.notice.value,
      }
      const respone = await axios({
        method: 'PATCH',
        url: '/room/notice',
        data,
      })
      if (respone) {
        console.log('새로운 공지사항 등록 성공')
        document.location.reload()
      } else {
        console.log('err')
      }
    }
  </script>
</html>
