<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>방 선택하기</title>
</head>

<body>
  <div>
    <h3>이름</h3>
  </div>
  <a href="roomadd">새로운 방 추가</a>
  <a href="room">기존 방으로 이동</a>
</body>

</html>