<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/signup.css">
  <link rel="shortcut icon" href="/img/icon.ico" type="image/x-icon">
  <link rel="icon" href="/img/icon.ico" type="image/x-icon">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>GreenMuscat</title>
</head>
<%- include('mainHeader') %>

  <body>
    <div class="main">
      <div class="signUp">회원가입</div>
      <div class="signUpDiv">
        <form name="form_signup" id="formSignup">
          <div class="innerform">
            <input type="email" id="email" placeholder="이메일" />
            <br />
            <input type="text" id="name" placeholder="이름" /><br />
            <input type="text" id="nickname" placeholder="닉네임" /><br />
            <input type="password" id="password" placeholder="비밀번호" /><br />
            <button type="button" onclick="signUp()">회원가입</button>
          </div>
        </form>
      </div>
    </div>
  </body>

  <script>
    async function signUp() {
      const form = document.forms['form_signup']
      const email = form.email.value
      const name = form.name.value
      const nickname = form.nickname.value
      const password = form.password.value

      const signUp = await axios({
        method: 'POST',
        url: '/main/signup',
        data: {
          email,
          name,
          nickname,
          password,
          fromSocial: 0, // formSocial은 sns 로그인하게 되면 그 때
        },
      })

      if (signUp.data.result) {
        alert('회원가입이 완료되었습니다')
        document.location.href = 'signin'
      }
    }
  </script>

</html>