<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        margin: auto;
        margin-top: 10%;
      }
      .signUp {
        font-size: 20px;
        margin-bottom: 15px;
      }
      .signUpDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
      }
      #formSignup {
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
      }
      .innerform {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-content: center; */
        align-items: left;
        width: 80%;
      }
      input {
        width: 95%;
        height: 30px;
        margin-bottom: 10px;
        background: rgb(237, 235, 235);
        border: 1px solid rgb(196, 196, 196);
        border-radius: 10px;
        padding-left: 5%;
      }
      button {
        width: 100%;
        height: 30px;
        margin-bottom: 10px;
        background: rgb(234, 244, 78);
        border-radius: 10px;
        border: 0;
      }
    </style>
  </head>
  <%- include('headerMain') %>
  <body>
    <div class="main">
      <div class="signUp">회원가입</div>
      <div class="signUpDiv">
        <form name="form_signup" id="formSignup">
          <div class="innerform">
            <input type="email" id="email" placeholder="이메일" />
            <br />
            <input type="text" id="name" placeholder="이름" /><br />
            <input type="text" id="nickname" placeholder="닉네임" /><br />
            <input type="password" id="password" placeholder="비밀번호" /><br />
            <button type="button" onclick="signUp()">회원가입</button>
          </div>
        </form>
      </div>
    </div>
  </body>

  <script>
    async function signUp() {
      const form = document.forms['form_signup']
      const email = form.email.value
      const name = form.name.value
      const nickname = form.nickname.value
      const password = form.password.value

      const signUp = await axios({
        method: 'POST',
        url: '/main/signup',
        data: {
          email,
          name,
          nickname,
          password,
          fromSocial: 0, // formSocial은 sns 로그인하게 되면 그 때
        },
      })

      if (signUp.data.result) {
        alert('회원가입이 완료되었습니다')
        document.location.href = 'signin'
      }
    }
  </script>
</html>
