@import url('font.css');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
}
.title {
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
#addBtn {
  display: flex;
  margin: auto;
  width: 100px;
  cursor: pointer;
}
hr {
  width: 100%;
  background: #c4c4c4;
  height: 1px;
  border: 0;
}
.register {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 40%;
}
.toRegister {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#missionInput {
  background-color: white;
  width: 75%;
  text-align: left;
  margin-left: 0;
  margin-right: auto;
  border-style: none;
  cursor: pointer;
}
#mission {
  background-color: white;
  cursor: pointer;
  border: 1px solid;
  border-radius: 10px;
  height: 30px;
  width: 45px;
}

.board {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.innerboard {
  display: flex;
  margin: 10px;
  width: 100%;
}
.innerInfo {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px;
}
.imgDiv {
  border: 1px solid;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin: 5px;
}
img {
  width: 40px;
  padding: 5px;
}
.innerContent {
  width: 100%;
}
.boardContent {
  margin: 5px;
}
.userNameDate {
  display: flex;
  justify-content: space-between;
}
.userName {
  margin-bottom: 10px;
  color: gray;
}
.content {
  margin-bottom: 10px;
}
.contentImg {
  width: 300px;
}
#commentBtn {
  cursor: pointer;
}
#likeBtn {
  cursor: pointer;
}
.postForm {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
#pContent {
  border: 0;
  font-size: 30px;
  outline-style: none;
}
p {
  display: flex;
  align-items: center;
}
textarea {
  font-size: 13px;
  outline-style: none;
  width: 100%;
  resize: none;
  padding-bottom: 0px;
  border-style: none;
  border-left: 2px solid gainsboro;
  padding-left: 7px;
}
#replyBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  height: 30px;
  margin: 5px 0px;
  background: rgb(234, 244, 78);
  border-radius: 10px;
  border: 0;
}

.btn img {
  width: 10px;
  height: 10px;
}
