html,
body {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

body {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

#start {
  display: flex; /*flex*/
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #c3ea73;
  color: white;
  font-family: 'LOTTERIACHAB';
  font-size: -webkit-xxx-large;
  z-index: 15;
  cursor: pointer;
  /* transition: 2.5s ease-in; */
}

#title {
  font-family: 'LOTTERIACHAB';
  font-size: -webkit-xxx-large;
}
/* .remove {
  맨 처음 화면 없애주는 것
  visibility: hidden;
  opacity: 0;
} */

.main {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;
  align-items: center;
  bottom: 16%;
}

.left > img,
.right > img {
  width: 100%;
  height: 60%;
  margin: 0;
}
.left > span,
.right > span {
  font-family: 'HakgyoansimDoldamB';
  font-size: 120%;
  font-weight: 700;
}
.left,
.right {
  margin: 0;
  padding: 0;
  width: 160px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.center {
  margin: 0;
  padding: 0;
  width: 160px;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.title {
  position: relative;
  text-align: center;
  font-family: 'HakgyoansimDoldamB';
  font-size: 190%;
  bottom: 12%;
}

.content {
  position: relative;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
}

.loginDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: 7%;
  position: relative;
}
.innerform {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 80%;
}
input {
  width: 95%;
  height: 30px;
  margin-bottom: 10px;
  background: rgb(237, 235, 235);
  border: 1px solid rgb(196, 196, 196);
  border-radius: 10px;
  padding-left: 5%;
}
#btn {
  width: 50%;
  height: 50px;
  margin-bottom: 10px;
  /* background: rgb(234, 244, 78); */
  background: greenyellow;
  border-radius: 10px;
  border: 0;
  margin: auto;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

/* 필요한 css 인가요?? */
#formSignin {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}

hr {
  width: 100%;
  background: #c4c4c4;
  height: 1px;
  border: 0;
}

label {
  font-size: 13px;
}
