@import url('/css/font.css');

* {
  font-family: 'HakgyoansimWoojuR';
}

.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

/* LOGO */
.innerHeaderLogo,
.innerHeaderLogin {
  cursor: pointer;
}
.innerHeaderLogin:hover {
  color: rgb(187, 245, 72);
  font-size: 1em;
  font-weight: 800;
}
