@import url('/css/font.css');

* {
  font-family: 'HakgyoansimWoojuR';
}
.header {
  padding-bottom: 10px;
  padding-top: 10px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c4c4c4;
}

/* .innerHeader {
  margin: 10px;
} */

/* LOGO */
.innerHeaderLogo {
  margin-left: 50px;
  display: flex;
  text-align: center;
  cursor: pointer;
  align-items: center;
}

/* 로그인 또는 로그아웃 버튼 */
.innerHeaderLogin {
  margin-right: 50px;
  align-items: center;
  display: flex;
  cursor: pointer;
  text-align: center;
}
.innerHeaderLogin:hover {
  color: rgb(187, 245, 72);
  font-size: 1em;
  font-weight: 800;
}
