@import url('/css/font.css');

* {
  font-family: 'HakgyoansimWoojuR';
}

#webName,
.innerHeaderLogin {
  cursor: pointer;
  font-weight: bold;
  font-size: large;
}

.header {
  padding-bottom: 10px;
  padding-top: 10px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.innerHeaderLogo {
  margin: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.innerHeaderLogin {
  margin: 10px;
  align-items: center;
  display: flex;
}
.innerHeaderLogin:hover {
  font-size: 1em;
  font-weight: 800;
}
