@import url('/css/font.css');

* {
  font-family: 'HakgyoansimWoojuR';
}

#webName,
.innderHeaderLogin {
  cursor: pointer;
  font-weight: bold;
  font-size: large;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c4c4c4;
  width: 100%;
  position: relative;
  /* margin-top: 60px; */
  /* position: absolute; */
}

.innerHeaderLogo {
  margin: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.innerHeaderLogin {
  margin: 10px;
  align-items: center;
  display: flex;
}
.innerHeaderLogin:hover {
  font-size: 1em;
  font-weight: 800;
}
