body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: auto;
}
.notice {
  width: 90%;
}
.innerNotice {
}
#noticeImg {
  width: 40px;
}
.noticeDiv {
  display: flex;
  justify-content: space-around;
}
.noticeInputDiv {
  width: 80%;
}
.noticeInput {
  width: 100%;
  border: 0;
  resize: none;
}
.registerBtn {
  border-radius: 8px;
  width: 40px;
  background-color: white;
  border: 1px solid #787777;
}
hr {
  background: #c4c4c4;
  height: 1px;
  border: 0;
}
.noticeContent {
  width: 90%;
}
